body {
  background-color: #0B0F1A;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

.navbar {
  background-color: #1C1F2A !important;
  border-bottom: 1px solid #2a2d3a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.navbar-brand {
  font-weight: 700;
  color: #00B4D8 !important;
  letter-spacing: 0.5px;
}

.btn-custom {
  background-color: #00B4D8;
  color: #0B0F1A;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #009ec2;
  transform: translateY(-1px);
}

.student-card {
  background-color: #1C1F2A;
  border: 1px solid #2c2f3c;
  border-radius: 16px;
  padding: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.student-card:hover {
  border-color: #00B4D8;
  transform: translateY(-3px);
}

.student-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFFFFF;
}

.student-group {
  color: #A4A6AC;
  font-size: 0.95rem;
}

.badge-club {
  background-color: #00B4D8 !important;
  color: #2546a0;
  font-weight: 600;
  margin-right: 4px;
}

.footer {
  text-align: center;
  color: #A4A6AC;
  border-top: 1px solid #1C1F2A;
  padding: 15px;
  margin-top: 50px;
  font-size: 0.9rem;
}
.text-muted {
  color: #2875849d !important; /* выбери свой цвет */
}
